

<div class="row">
  <div class="large-12 columns">

    <h1>TiY on Rails. It's Awesome!</h1>
    <hr/>
  </div>
</div>






<div class="row">


  <div class="large-9 columns" role="content">

    <%= image_tag "homepage.jpg" %>

  </div>






  <aside class="large-3 columns">
    <% if sign_in? %>
        <%=  link_to "home", current_user %>
    <% else %>
        <div class="panel">
          <%= form_for(:session, url: sessions_path) do |f| %>
              <%= f.text_field :email, placeholder: "email" %>
              <%= f.password_field :password, placeholder: "password" %>

              <%= f.submit "Sign In", class: "round button" %>
          <% end %>

        </div>
    <% end %>

    <div class="panel">
      <p>New to Tiy on Rails? Sign up</p>
      <%= render "form" %>
    </div>

  </aside>


</div>






<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>
    </div>
  </div>
</footer>
