

<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul>
        <li class="round tiny button"> <%=link_to "Home", current_user %> </li>
        <li class="round tiny button"><%=link_to "Fellow TiYers", users_path %> </li>

      </ul>
    </div>
    <h2>Tiy on Rails!</h2>
    <hr/>
  </div>
</div>

<div class="row fellow-railers">
  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
    <% @users.each do |user| %>
          <li><%= link_to gravatar_for(user), user %>
            <p><%=  user.name %><br>
            <%= user.username %></p>
          </li>

    <% end %>
  </ul>
  <%= paginate @users %>


</div>




<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>
    </div>
  </div>
</footer>
