

<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul>
        <li class="round tiny button"> <%=link_to "Home", current_user %> </li>
        <li class="round tiny button"><%=link_to "Fellow TiYers", users_path %> </li>

      </ul>
    </div>
    <h2>Tiy on Rails!</h2>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <% @users.each do |user| %>
        <ul>
          <a href=" <%= user_path user %>">
          <li><%= gravatar_for(user) %></li>
          <li><%=  user.name %></li>
          <li><%= user.username %></li>
          </a>

        </ul>
          <hr>


    <% end %>

  </div>

</div>




<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>
    </div>
  </div>
</footer>
