

<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul>
        <li class="round tiny button"><%=link_to "Home", current_user %></li>
        <li class="round tiny button"><%=link_to "Fellow TiYers", users_path %></li>
        <li class="round tiny button"><%=link_to "Settings", edit_user_path %></li>
        <li class="round tiny button"><%=link_to "Sign Out", session_path, method: "delete" %></li>

      </ul>
    </div>
    <h2>Tiy on Rails!</h2>
    <hr/>
  </div>
</div>






<div class="row feed">

  <aside class="large-3 columns">
    <div class="panel">


       <%= gravatar_for @user %>


       <h2><%= @user.username %></h2>
       <h3><%= @user.name %></h3>



    <ul class="inline-list">
      <li><%= @user.posts.count %> <br> Posts</li>
      <li><%= @user.followed_users.count %><br><%= link_to "Following", following_user_path(@user)%></li>
      <li><%= @user.followers.count %><br><%= link_to "Followers", followers_user_path(@user) %></li>

    </ul>

    <%= form_for (@post) do |f| %>
        <%= f.text_field :content, placeholder: "Put a Ruby on TiY Rails" %>
        <%= f.submit "Post", class: "round tiny button" %>
        <% end %>
    </div>
  </aside>



  <div class="large-9 columns" role="content">
    <div class="panel">
    <% unless current_user?(@user) %>
        <div id="follow_form">
          <% if current_user.following?(@user) %>
              <%= form_for(current_user.relationships.find_by(followed_id: @user.id),
                           html: { method: :delete }) do |f| %>
                  <%= f.submit "Unfollow", class: "tiny round button" %>
              <% end %>
          <% else %>
              <%= form_for(current_user.relationships.build(followed_id: @user.id)) do |f| %>
                  <div><%= f.hidden_field :followed_id %></div>
                  <%= f.submit "Follow", class: "tiny round button"  %>
              <% end %>
          <% end %>
        </div>
    <% end %>

    <h2>Rubys Riding TiY Rails</h2>
    <%= render 'shared/feed' %>
    </div>

  </div>









</div>







    