

<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul>
        <li class="round tiny button"> <%=link_to "Home", current_user %> </li>
        <li class="round tiny button"><%=link_to "Fellow TiYers", users_path %> </li>
        <li class="round tiny button"><%=link_to "Settings", edit_user_path %></li>
        <li class="round tiny button"><%=link_to "Sign Out", session_path, method: "delete" %></li>

      </ul>
    </div>
    <h2>Tiy on Rails!</h2>
    <hr/>
  </div>
</div>






<div class="row">
  <aside class="large-3 columns">



       <%= gravatar_for @user %>


       <h2><%= @user.username %></h2>
       <h3><%= @user.name %></h3>



    <ul class="inline-list">
      <li><%= @user.posts.count %> <br> Posts</li>
      <li><%= @user.followed_users.count %><br><%= link_to "Following", following_user_path(@user)%></li>
      <li><%= @user.followers.count %><br><%= link_to "Followers", followers_user_path(@user) %></li>

    </ul>

    <%= form_for (@post) do |f| %>
        <%= f.text_field :content, placeholder: "Put a Ruby on TiY Rails" %>
        <%= f.submit "Post", class: "round tiny button" %>
        <% end %>

  </aside>


  <div class="large-9 columns" role="content">
    <% unless current_user?(@user) %>
        <div id="follow_form">
          <% if current_user.following?(@user) %>
              <%= form_for(current_user.relationships.find_by(followed_id: @user.id),
                           html: { method: :delete }) do |f| %>
                  <%= f.submit "Unfollow"%>
              <% end %>
          <% else %>
              <%= form_for(current_user.relationships.build(followed_id: @user.id)) do |f| %>
                  <div><%= f.hidden_field :followed_id %></div>
                  <%= f.submit "Follow" %>
              <% end %>
          <% end %>
        </div>
    <% end %>

    <% @user.posts.find_each do |post| %>
        <ul>
          <li><%= @user.username %></li>
          <li><%= post.content%></li>



        </ul>
        <hr>


    <% end %>

  </div>









</div>






<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
    