

<div class="row">
  <div class="large-12 columns">

    <h1>TiY on Rails. It's Awesome!</h1>
    <hr/>
  </div>
</div>






<div class="row">


  <div class="large-9 columns" role="content">

   <%= image_tag "homepage.jpg" %>

  </div>






  <aside class="large-3 columns">

    <div class="panel">
      <p>New to Tiy on Rails? Sign up</p>
      <%= form_for new_user_path do |f|%>
      <%= f.text_field :email, placeholder: "email" %>
      <%= f.text_field :username, placeholder: "username" %>
      <%= f.text_field :name, placeholder: "name" %>
      <%= f.password_field :password, placeholder: "password" %>
      <%= f.password_field :password_confirmation, placeholder: "password" %>
      <%= f.submit "Create Account" %>
          <% end %>
    </div>

  </aside>


</div>






<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>
    </div>
  </div>
</footer>
